<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8"/>
    <link rel="icon" href="img/009-chess-4.png"/>

    <title>Chess Club!</title>

    <link type="text/css" rel="stylesheet" href="/style.css"/> <!--gets your stylesheet (style.css)-->
    <script src="/client.js"></script> <!-- required to send data to client.js -->

</head>


<body>
<div class="navbar">

    <a href="https://juneberries.github.io" class="icon-link"></a>
    <a href="#" class="website-link"></a>
    <a href="https://replit.com/@JuneBerries/Chess-Club" class="glitch-link"></a>

    <div class="nav-container">
        <a href="openings.html" class="nav-link">
            <img src="img/004-chess-board.png" alt="" loading="lazy" width="36" height="36" class="image-link">
            <div class="link-text">Openings</div>
        </a>
        <a href="view-stats.html" class="nav-link">
            <img src="img/001-chess-player.png" alt="" loading="lazy" width="36" height="36" class="image-link">
            <div class="link-text">Player Stats</div>
        </a>
        <a href="shop.html" class="nav-link">
            <img src="img/005-chess-2.png" alt="" loading="lazy" width="36" height="36" class="image-link">
            <div class="link-text">About</div>
        </a>
    </div>

</div>


<div class="index-container">

    <div class="pages">
        <div class="page-container"><img src="img/004-chess-board.png" loading="lazy" width="144" height="144"
                                         alt="Openings Explorer" class="page-icon"></div>
        <p class="description"><strong>Openings Explorer<br></strong><br>Discover modern and classical chess openings.
            View GIFs and read the chess notation (PGNs).<br></p>
        <a href="openings.html" class="learn-more"> <img src="img/004-chess-board.png" loading="lazy" width="35" alt=""
                                             class="image">
            <div class="text-block">Learn more</div>
        </a>
    </div>

    <div class="pages">
        <div class="page-container"><img src="img/001-chess-player.png" loading="lazy" width="144" height="144"
                                         alt="Player Statistics" class="page-icon"></div>
        <p class="description"><strong>Player Statistics<br></strong><br>Check out the ratings of a few of my favourate players.<br>
          Find out how they are rated in different time controls.
        <br></p>
        <a href="view-stats.html" class="learn-more"> <img src="img/008-strategy.png" loading="lazy" width="35" alt="" class="image">
            <div class="text-block">Dive deeper</div>
        </a>
    </div>

    <div class="pages">
        <div class="page-container"><img src="img/005-chess-2.png" loading="lazy" width="144" height="144"
                                         alt="Book library" class="page-icon"></div>
        <p class="description"><strong>About<br></strong><br>Find out more about this project. How it works? and What was used to make it?<br><br></p>
        <a href="shop.html" class="learn-more"> <img src="img/003-chess-1.png" loading="lazy" width="35" alt="" class="image">
            <div class="text-block">Explore</div>
        </a>
    </div>

</div>
<br><br><br>
<footer>
    <div class="footer-content">
        <a href="https://juneberries.github.io" target="_blank"><p class="footer-link"><img class="footer-icon" alt="github" src="img/jane.png"><br>©2021 Jane Alderson</p></a>
    </div>
</footer>

</body>
<script>theme()</script>
</html>
