<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="img/009-chess-4.png" />

    <title>Chess Club!</title>

    <link type="text/css" rel="stylesheet" href="/style.css" />
    <!--gets your stylesheet (style.css)-->
    <script src="/client.js"></script>
    <!-- required to send data to client.js -->
  </head>

  <body>
    <div class="navbar">
      <a href="https://juneberries.github.io" class="icon-link"></a>
      <a href="index.html" class="website-link"></a>
      <a href="https://replit.com/@JuneBerries/Chess-Club" class="glitch-link"></a>

      <div class="nav-container">
        <a href="openings.html" class="nav-link">
          <img
            src="img/004-chess-board.png"
            alt=""
            loading="lazy"
            width="36"
            height="36"
            class="image-link"
          />
          <div class="link-text">Openings</div>
        </a>
        <a href="view-stats.html" class="nav-link">
          <img
            src="img/001-chess-player.png"
            alt=""
            loading="lazy"
            width="36"
            height="36"
            class="image-link"
          />
          <div class="link-text">Player Stats</div>
        </a>
        <a href="#" class="nav-link">
          <img
            src="img/005-chess-2.png"
            alt=""
            loading="lazy"
            width="36"
            height="36"
            class="image-link"
          />
          <div class="link-text"><strong>About</strong></div>
        </a>
      </div>
    </div>

      <div class="about-content">
        <div class="about-banner">
          <div class="about-title">About</div>
        </div>
          <div class="about-message">
            <p>Hello Node.js</p>
          </div>
        </div>



    <footer>
      <div class="footer-content">
        <a href="https://juneberries.github.io" target="_blank"
          ><p class="footer-link">
            <img
              class="footer-icon"
              alt="github"
              src="img/jane.png"
            /><br />©2021 Jane Alderson
          </p></a
        >
      </div>
    </footer>
  </body>
  <script>
    theme();
  </script>
</html>
